<div class="container">
    <footer class="bg-dark text-white py-4">
       <div class="container">
         <div class="row">
           <!-- Coluna 1: Sobre Nós -->
           <div class="col-md-4">
             <h5>Sobre Nós</h5>
             <p>Ortofix é uma plataforma  que utiliza inteligência artificial para ajudar adolescentes a aprender e aprimorar sua ortografia de forma interativa, personalizada e eficaz.</p>
           </div>
           <!-- Coluna 2: Contato -->
           <!-- Coluna 3: Redes Sociais -->
         </div>
         <hr class="bg-light">
         <div class="text-center">
           <small>© 2025 OrtoFix - Todos os direitos reservados.</small>
         </div>
       </div>
     </footer>
     
 
 </div>
     
 